{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}
